<div>
  <h1 style="text-align: center">the-kingkiller-chronicle</h1>
  <h2 style="text-align: center">רשימת השירים והדקלומים</h2>
  <h3 style="text-align: center">ספר ראשון: שם הרוח</h3>
  <h4 style="text-align: center">מאנגלית: עמנואל לוטם</h4>
  <h4 style="text-align: center">2016</h4>

  <p>
    פחח משלם את חובו בשיטה:<br />
    אחת על עסקת חליפין פשוטה. <br />
    כפליים על עזרה שניתנה מרצון.<br />
    אבל פי שלושה על כל עלבון.<br />
    <br />עמוד 15
  </p>
  <hr />
  <p>
    כשמכחילה האש באח,<br />
    מה עושים? מה עושים?<br />
    רק בורחים ומתחבאים.<br />
    כשעיניו שחורות משחור,<br />
    אנה הולכים? אנה באים?<br />
    לכאן ולשם, למרחקים.<br />
    ראיתם איש בלי פנים?<br />
    נודד כמו רוח רפאים?<br />
    מנין ולאן? מנין ולאן?<br />
    צ'נדריאן. צ'נדריאן.<br />
    <br />עמוד 41
  </p>
  <hr />
  <p>
    אומר לך איך זה נפתר.<br />
    בור לעומק רב נחפר<br />
    בוקיצה, דולב וחוזרר –<br />
    <br />עמוד 54
  </p>
  <hr />

  <p>
    מה מוזר לראות בן-תמותה ניצת<br />
    רק כדי לדעוך משעה לשעה.<br />
    לדעת כי נשמתו הבהירה כקש היא<br />
    והרוח תשיג את שלה עד ארגיעה.<br />
    הלוואי ויכולתי לתת לך מאִשִּׁי.<br />
    כי מהי בשורת הבהוביך, אישי?<br />
    <br />עמוד 59
  </p>
  <hr />

  <p>
    לגבירתנו לֶקלֶס יש שבעה חפצים<br />
    תחת בגדיה כולם נעוצים<br />
    האחד, טבעת שלא תיענד לעולם<br />
    האחד, מילה שאסור לאומרה בקול רם<br />
    לנר של בעלה יש לה דלת צדדית<br />
    אבל זוהי רק דלת שאין לה ידית<br />
    בקופסה שמכסה ומנעול אין לה<br />
    שומרת לקלס את אבני בעלה<br />
    יש לה סוד שהיא מקפידה ובולמת<br />
    בלי כל שינה לפעמים היא חולמת<br />
    על דרך שלא למסע נועדה<br />
    גברתנו לקלס צופנת חידה.<br />
    <br />עמוד 102
  </p>
  <hr />
  
</div>
<router-outlet></router-outlet>
