<div>
  <h1 style="text-align: center">רשומות קוטל המלך</h1>
  <h2 style="text-align: center">רשימת השירים והדקלומים</h2>
  <h3 style="text-align: center">ספר ראשון: שם הרוח</h3>
  <h4 style="text-align: center">מאנגלית: עמנואל לוטם</h4>
  <h4 style="text-align: center">הוצאת אופוס 2016</h4>

  <table
    style="
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    "
  >
    <tr>
      <th style="width: 43%">כפי שמופיע בספר</th>
      <th style="width: 43%">מנוקד</th>
      <th>עמוד</th>
    </tr>
    <tr>
      <td>
        פחח משלם את חובו בשיטה:<br />
        אחת על עסקת חליפין פשוטה. <br />
        כפליים על עזרה שניתנה מרצון.<br />
        אבל פי שלושה על כל עלבון.<br />
      </td>
      <td>
        פַּחָח מְשַׁלֵּם אֶת חוֹבוֹ בַּשִּׁיטָה:<br />
        אַחַת עַל עִסְקַת חֲלִיפִין פְּשׁוּטָה. <br />
        כִּפְלַיִים עַל עֶזְרָה שֶׁנִּיתְּנָה מֵרָצוֹן.<br />
        אֲבָל פִּי שְׁלוֹשָׁה עַל כָּל עֶלְבּוֹן.<br />
      </td>
      <td>15</td>
    </tr>

    <tr>
      <td>
        כשמכחילה האש באח,<br />
        מה עושים? מה עושים?<br />
        רק בורחים ומתחבאים.<br />
        <br />
        כשעיניו שחורות משחור,<br />
        אנה הולכים? אנה באים?<br />
        לכאן ולשם, למרחקים.<br />
        <br />
        ראיתם איש בלי פנים?<br />
        נודד כמו רוח רפאים?<br />
        מנין ולאן? מנין ולאן?<br />
        צ'נדריאן. צ'נדריאן.<br />
      </td>
      <td>
        כְּשֶׁמַּכְחִילָה הָאֵשׁ בָּאָח,<br />
        מָה עוֹשִׂים? מָה עוֹשִׂים?<br />
        רַק בּוֹרְחִים וּמִתְחַבְּאִים.<br />
        <br />
        כְּשֶׁעֵינָיו שְׁחוֹרוֹת מִשָּׁחוֹר,<br />
        אָנָה הוֹלְכִים? אָנָה בָּאִים?<br />
        לְכָאן וּלְשָׁם, למרְחַקִּים.<br />
        <br />
        רְאִיתֶם אִישׁ בְּלִי פָּנִים?<br />
        נוֹדֵד כְּמוֹ רוּחַ רְפָאִים?<br />
        מִנַּיִין וּלְאָן? מִנַּיִין וּלְאָן?<br />
        צ'נדריאן. צ'נדריאן.<br />
      </td>
      <td>41</td>
    </tr>

    <tr>
      <td>
        אומר לך איך זה נפתר.<br />
        בור לעומק רב נחפר<br />
        בוקיצה, דולב וחוזרר –<br />
      </td>
      <td>
        אוֹמֵר לְךָ אֵיךְ זֶה נִפְתַּר.<br />
        בּוֹר לְעוֹמֶק רַב נֶחְפַּר<br />
        בּוּקִיצָה, דּוֹלֶב וְחֻוזְרַר –<br />
      </td>
      <td>54</td>
    </tr>

    <tr>
      <td>
        מה מוזר לראות בן-תמותה ניצת<br />
        רק כדי לדעוך משעה לשעה.<br />
        לדעת כי נשמתו הבהירה כקש היא<br />
        והרוח תשיג את שלה עד ארגיעה.<br />
        הלוואי ויכולתי לתת לך מאִשִּׁי.<br />
        כי מהי בשורת הבהוביך, אישי?<br />
      </td>
      <td>
        מָה מוּזָר לִרְאוֹת בֶּן-תְּמוּתָה נִצַּת<br />
        רַק כְּדֵי לִדְעֹךְ מִשָּׁעָה לְשָׁעָה.<br />
        לָדַעַת כִּי נִשְׁמָתוֹ הַבְּהִירָה כְּקַשׁ הִיא<br />
        וְהָרוּחַ תַּשִּׂיג אֶת שֶׁלָּהּ עַד אַרְגִּיעָה.<br />
        הַלְּוַאי וְיָכֹלְתִּי לָתֵת לָךְ מֵאִשִּׁי.<br />
        כִּי מַהִי בְּשׂוֹרַת הִבְהוּבֶיךָ, אִישִׁי?<br />
      </td>
      <td>59</td>
    </tr>

    <tr>
      <td>
        לגבירתנו לֶקלֶס יש שבעה חפצים<br />
        תחת בגדיה כולם נעוצים<br />
        האחד, טבעת שלא תיענד לעולם<br />
        האחד, מילה שאסור לאומרה בקול רם<br />
        לנר של בעלה יש לה דלת צדדית<br />
        אבל זוהי רק דלת שאין לה ידית<br />
        בקופסה שמכסה ומנעול אין לה<br />
        שומרת לקלס את אבני בעלה<br />
        יש לה סוד שהיא מקפידה ובולמת<br />
        בלי כל שינה לפעמים היא חולמת<br />
        על דרך שלא למסע נועדה<br />
        גברתנו לקלס צופנת חידה.<br />
      </td>
      <td>
        לִגְבִירְתֵּנוּ לֶקלֶס יֵשׁ שִׁבְעָה חֲפָצִים<br />
        תַּחַת בְּגָדֶיהָ כֻּולָּם נְעוּצִים<br />
        הָאֶחָד, טַבַּעַת שֶׁלֹּא תֵּיעָנֵד לְעוֹלָם<br />
        הָאֶחָד, מִילָּה שֶׁאָסוּר לְאָומְרָהּ בְּקוֹל רָם<br />
        לְנֵר שֶׁל בַּעֲלָהּ יֵשׁ לָהּ דֶּלֶת צְדָדִית<br />
        אֲבָל זוֹהִי רַק דֶּלֶת שֶׁאֵין לָהּ יָדִית<br />
        בְּקֻופְסָה שֶׁמְּכַסֶּה וּמַנְעוּל אֵין לָהּ<br />
        שׁוֹמֶרֶת לֶקלֶס אֶת אַבְנֵי בַּעֲלָהּ<br />
        יֵשׁ לָהּ סוֹד שֶׁהִיא מַקְפִּידָה וּבוֹלֶמֶת<br />
        בְּלִי כָּל שֵׁינָה לִפְעָמִים הִיא חוֹלֶמֶת<br />
        עַל דֶּרֶךְ שֶׁלֹּא לְמַסָּע נוֹעֲדָה<br />
        גְּבִרְתֵּנוּ לֶקלֶס צוֹפֶנֶת חִידָה.<br />
      </td>
      <td>102</td>
    </tr>

    <tr>
      <td>
        עם ערב, ברדת השמש מעבר להר,<br />
        לך אצפה, אחכה לשובך לבטח.<br />
        מועד שובך חלף-עבר זה כבר,<br />
        אבל אהבתי נאמנה תהיה לנצח.<br />
        <br />
        עם ערב, עת השמש נוטה לכבות,<br />
        רגלי פונות סוף-סוף לשוב אלייך.<br />
        הרוח נאנחת לה בין הערבות,<br />
        אנא השאירי נר דולק בחלונייך.<br />
      </td>
      <td>
        עִם עֶרֶב, בְּרֶדֶת הַשֶּׁמֶשׁ מֵעֵבֶר לְהַר,<br />
        לְךָ אֲצַפֶּה, אֲחַכֶּה לְשׁוּבְךָ לָבֶטַח.<br />
        מוֹעֵד שׁוֹבַךְ חָלַף-עָבַר זֶה כְּבָר,<br />
        אֲבָל אָהַבְתִּי נֶאֱמָנָה תִּהְיֶה לָנֶצַח.<br />
        <br />
        עִם עֶרֶב, עֵת הַשֶּׁמֶשׁ נוֹטָה לִכְבוֹת,<br />
        רַגְלַי פּוֹנוֹת סוֹף-סוֹף לָשׁוּב אֵלַיִיךְ.<br />
        הָרוּחַ נֶאֱנַחַת לָהּ בֵּין הָעֲרָבוֹת,<br />
        אָנָּא הַשְׁאִירִי נֵר דּוֹלֵק בְּחַלּוֹנַיִיךְ.<br />
      </td>
      <td>129</td>
    </tr>

    <tr>
      <td>
        כמו אבן מושכת גם בשנתנו,<br />
        אבן זקופה לצד שביל היא הדרך<br />
        הלוך והעמק אל ארץ הפיות.<br />
        אבן ניצבת ביום ובליל<br />
        מוליכה אל... <b>משהו משהו</b>... לעזאזל.<br />
      </td>
      <td>
        כְּמוֹ אֶבֶן מוֹשֶׁכֶת גַּם בִּשְׁנָתֵנוּ,<br />
        אֶבֶן זְקוּפָה לְצַד שְׁבִיל הִיא הַדֶּרֶךְ<br />
        הָלוֹךְ וְהַעֲמֵק אֶל אֶרֶץ הַפֵיוֹת.<br />
        אֶבֶן נִיצֶּבֶת בַּיּוֹם וּבַלֵיל<br />
        מוֹלִיכָה אֵל... <b>מַשֶּׁהוּ מַשֶּׁהוּ</b>... לַעֲזָאזֵל.<br />
      </td>
      <td>130</td>
    </tr>

    <tr>
      <td>
        אם אלך או ארוץ<br />
        כשאני על אם דרך,<br />
        אחפשה לי תירוץ<br />
        בדמות אבן ניצבת<br />
        לפרוק משאי ולרבוץ.<br />
      </td>
      <td>
        אִם אֵלֵךְ אוֹ אָרוּץ<br />
        כְּשֶׁאֲנִי עַל אֵם דֶּרֶךְ,<br />
        אֲחַפְּשָׂה לִי תֵּירוּץ<br />
        בִּדְמוּת אֶבֶן נִיצֶּבֶת<br />
        לִפְרוֹק מַשָּׂאִי וְלִרְבּוֹץ.<br />
      </td>
      <td>130</td>
    </tr>
    <tr>
      <td>
        שבו והסכיתו כולכם לדבר אגדה,<br />
        לשיר סיפור בן הזמן הנשכח<br />
        שהיה ואיננו. סיפור על אדם.<br />
        לנרה הגא, החזק כפלדה,<br />
        כפלדת החרב אשר בה אחז.<br />
        שמעו כיצד נלחם, נפל ושוב קם,<br />
        על מנת לשוב ולנפול. תחת צל.<br />
        אהבה הפילתהו, אהבת מכורתו<br />
        ואהבת אשתו לַיירָה, והיא שקראה לו<br />
        לקום ולומר את שמה משערי מותו<br />
        בנשימתו הראשונה אחרי הולדתו.<br />
      </td>
      <td>
        שְׁבוּ וְהַסְכִּיתוּ כֻּולְּכֶם לִדְבַר אַגָּדָה,<br />
        לְשִׁיר סִיפּוּר בֶּן הַזְּמַן הַנִּשְׁכָּח<br />
        שֶׁהָיָה וְאֵינֶנּוּ. סִיפּוּר עַל אָדָם.<br />
        לנרה הַגֵּא, הֶחָזָק כִּפְלָדָה,<br />
        כִּפְלָדַת הַחֶרֶב אֲשֶׁר בָּהּ אָחַז.<br />
        שִׁמְעוּ כֵּיצַד נִלְחַם, נָפַל וְשׁוּב קָם,<br />
        עַל מְנַת לָשׁוּב וְלִנְפּוֹל. תַּחַת צֵל.<br />
        אַהֲבָה הִפִּילַתְהוּ, אַהֲבַת מְכוֹרָתוֹ<br />
        וְאַהֲבַת אִשְׁתּוֹ לַיְירָה, וְהִיא שֶׁקָּרְאָה לוֹ<br />
        לָקוּם וְלוֹמַר אֶת שְׁמָהּ מִשַּׁעֲרֵי מוֹתוֹ<br />
        בִּנְשִׁימָתוֹ הָרִאשׁוֹנָה אַחֲרֵי הֻולַּדְתּוֹ.<br />
      </td>
      <td>137</td>
    </tr>
  </table>
</div>
<router-outlet></router-outlet>
